<meta name="runtime" content="{$runtime}" />
<meta name="queries" content="{$sqlquerynum}" />
<link rel="shortcut icon" href="{$config(site_favicon)}"/>
<link rel="icon" href="{$config(site_favicon)}"/>
<link rel="stylesheet" href="../css/ow.global.css" />
<link rel="stylesheet" href="../css/pc.glyphicon.css" />
<link rel="stylesheet" href="../css/ow.main.css" />
<link rel="stylesheet" href="../css/ow.shop.css" />
<link rel="stylesheet" href="../css/ow.owcmt.css" />
{$ow.js.config}
<script type="text/javascript" src="../js/tpl.js"></script>
{$site_aux_meta}