body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:30px;
  width:1366px;
  height:702px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:702px;
}
#u1 {
  position:absolute;
  left:2px;
  top:343px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:460px;
  width:570px;
  height:77px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:77px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:140px;
  top:433px;
  width:570px;
  height:77px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:77px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:436px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7 {
  position:absolute;
  left:86px;
  top:480px;
  width:200px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:78px;
  top:490px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:270px;
  top:489px;
  width:8px;
  height:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:98px;
  top:487px;
  width:149px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:264px;
  top:486px;
  width:11px;
  height:19px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:320px;
  top:480px;
  width:200px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:312px;
  top:490px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:332px;
  top:487px;
  width:142px;
  height:16px;
  color:#009DDA;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:86px;
  top:490px;
  width:12px;
  height:9px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:320px;
  top:490px;
  width:12px;
  height:9px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:320px;
  top:489px;
  width:12px;
  height:9px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:118px;
  top:516px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:862px;
  top:515px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:380px;
  top:515px;
  width:89px;
  height:16px;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:796px;
  top:479px;
  width:200px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:788px;
  top:489px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:808px;
  top:486px;
  width:144px;
  height:16px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:796px;
  top:489px;
  width:5px;
  height:8px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:974px;
  top:486px;
  width:9px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:560px;
  top:480px;
  width:200px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:552px;
  top:490px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:572px;
  top:487px;
  width:156px;
  height:16px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:734px;
  top:487px;
  width:16px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u52 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:560px;
  top:489px;
  width:12px;
  height:9px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:610px;
  top:515px;
  width:115px;
  height:16px;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:499px;
  top:486px;
  width:11px;
  height:19px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
