<meta name="runtime" content="{$runtime}" />
<meta name="queries" content="{$sqlquerynum}" />
<link rel="shortcut icon" href="{$config(site_favicon)}"/>
<link rel="stylesheet" href="../css/om.global.css" />
<link rel="stylesheet" href="../css/om.glyphicon.css" />
<link rel="stylesheet" href="../css/om.main.css" />
<link rel="stylesheet" href="../css/om.shop.css" />
<link rel="stylesheet" href="../css/om.owcmt.css" />
<script type="text/javascript" src="{$site_path}ow-content/js/mobile/jquery.js"></script>
<script type="text/javascript" src="{$site_path}ow-content/js/mobile/ow.js"></script>
<script type="text/javascript" src="{$site_path}ow-content/js/mobile/com.js"></script>
<script type="text/javascript" src="../js/touchslide.1.1.js"></script>
{$ow.js.cfg}
