@charset "utf-8";
/* 
* author: DX.Lin
* http://www.openwbs.com/
* OpenWBS v4.0
*/
#header{-webkit-box-shadow:rgba(0,0,0,0.2) 0px 0px 4px; -moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 4px; box-shadow:rgba(0,0,0,0.2) 0px 0px 4px;}
.ow-all-category{ min-width:1200px; position:relative;}
.ow-all-category .wrapper{ position:relative;}
.ow-all-category .cates{ position:absolute; left:50%; margin-left:-600px; top:0px; z-index:999;}
.ow-all-category .cates-section{ background-color:#666; background:rgba(0,0,0,0.7); height:460px; width:230px; position:absolute; left:0px; top:0px;}
.ow-all-category .cates-section ul{ font-size:15px; padding:20px 0px;}
.ow-all-category .cates-section ul li.n1{ position:relative; z-index:900;}
.ow-all-category .cates-section ul li.n1 a{ display:block; height:32px; line-height:32px; overflow:hidden; padding:5px 28px;}
.ow-all-category .cates-section ul li.n1 a em{ color:rgba(255,255,255,0.3); font-size:12px; font-style:normal; height:12px; line-height:12px; overflow:hidden; padding-left:10px;}
.ow-all-category .cates-section ul li.n1 i{ font-size:10px; font-weight:100; position:absolute; right:20px; top:16px;}
.ow-all-category .cates-section ul li.n1 a,
.ow-all-category .cates-section ul li.n1 a:visited{ color:#fff; }
.ow-all-category .cates-section ul li.n1 a:hover{ background:#ff6700; text-decoration:none;}
.ow-all-category .cates-section ul li.n1 .subnav{ display:none;}
.ow-all-category .cates-section ul li.hover a{ background:#ff6700; }

.ow-all-category .cates-section .subcates { background-color:#fff; -webkit-box-shadow:rgba(0,0,0,0.3) 0px 0px 5px; -moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 5px; box-shadow:rgba(0,0,0,0.3) 0px 0px 5px; display:none; min-height:460px; position:absolute; min-width:230px; top:0px; left:230px; z-index:901;}
.ow-all-category .cates-section .subcates-big{ min-width:462px; }
.ow-all-category .subcates ul { background:none; display:block; padding:20px 0px 20px 0px;}
.ow-all-category .subcates ul li { display:block; float:none; font-size:16px; font-weight:normal; position:relative;}
.ow-all-category .cates-section .subcates-big li{ border-right:1px dotted #eee; display:inline; float:left;}
.ow-all-category .subcates ul li a { display:block; height:24px; line-height:24px; padding:9px 25px; min-width:180px; white-space:nowrap;}
.ow-all-category .subcates ul li a,
.ow-all-category .subcates ul li a:visited { color:#333; text-decoration:none;}
.ow-all-category .subcates ul li a:hover { background:#ff6700; color:#fff; }
.ow-all-category .subcates ul li:last-child a { border-bottom:none;}

.idx-hero-sub{ height:166px; margin:15px 0px;}
.idx-service4{ background:#5f5750; font-size:13px; float:left; height:166px; width:230px;}
.idx-service4 ul{ padding:5px 5px;}
.idx-service4 ul li{ float:left; text-align:center;}
.idx-service4 ul li a{ display:block; width:60px; padding:12px 6px 12px 6px;}
.idx-service4 ul li a span{ display:block; padding:3px 0px;}
.idx-service4 ul li a,
.idx-service4 ul li a:visited{ color:#bbb4af; }
.idx-service4 ul li a:hover{ background:#5a5149; color:#fff; }
.idx-service4 ul li a i{}

.idx-service4 ul li.li1 a{}
.idx-service4 ul li.li2 a{ border-left:1px solid #6d645d; }
.idx-service4 ul li.li3 a{ border-left:1px solid #6d645d; }
.idx-service4 ul li.li4 a{ border-top:1px solid #6d645d; }
.idx-service4 ul li.li5 a{ border-left:1px solid #6d645d; border-top:1px solid #6d645d; }
.idx-service4 ul li.li6 a{ border-left:1px solid #6d645d; border-top:1px solid #6d645d;  }

.idx-hero-promo{ }
.idx-hero-promo li{ float:left; height:166px; width:308px; padding-left:15px;}
.idx-hero-promo img{ height:166px; width:308px;}

/*推荐*/
.idx-star-goods{}
.idx-star-goods .header{ padding:5px 0px 10px 0px; position:relative;}
.idx-star-goods .header .title{ font-size:24px; font-weight:normal;}
.idx-star-goods .more{ position:absolute; bottom:15px; right:0px; }
.idx-star-goods .more a{ border:1px solid #eee; display:inline-block; font-size:12px; height:24px; line-height:24px; width:32px; text-align:center;}
.idx-star-goods .more a:hvoer{ color:#ff6700;}

.idx-star-goods .section{ padding:0px 0px 25px 0px; position:relative; }
.idx-star-goods .section .section-wrapper{ height:350px; overflow:hidden; position:relative; top:0px; left:0px; width:1200px; }
.idx-star-goods ul{ height:330px; position:absolute; left:0px; top:0px; width:1200px; z-index:1;}
.idx-star-goods ul li{ background-color:#fcfcfc; border-top:1px solid #eee; display:inline-block; float:left; margin:0px 15px 0px 0px; height:300px; width:198px; overflow:hidden; padding:25px 15px 5px 15px; text-align:center;}
.idx-star-goods ul li.li1{ border-top-color:#ffac13;}
.idx-star-goods ul li.li2{ border-top-color:#83c44e;}
.idx-star-goods ul li.li3{ border-top-color:#2196f3;}
.idx-star-goods ul li.li4{ border-top-color:#e53935;}
.idx-star-goods ul li.li5{ border-top-color:#00c0a5;}
.idx-star-goods ul li.li6{ border-top-color:#ffac13;}
.idx-star-goods ul li.li7{ border-top-color:#83c44e;}
.idx-star-goods ul li.li8{ border-top-color:#2196f3;}
.idx-star-goods ul li.li9{ border-top-color:#e53935;}
.idx-star-goods ul li.li10{border-top-color:#00c0a5;}
.idx-star-goods ul li:hover{ background-color:#fff; -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 10px; -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 10px; box-shadow:rgba(0,0,0,0.1) 0px 1px 10px}
.idx-star-goods ul li:last-child{ margin-right:0px;}
.idx-star-goods ul li .thumb{ padding:10px 5px 5px 5px; text-align:center; }
.idx-star-goods ul li .thumb img{ height:150px; width:150px;}
.idx-star-goods ul li .info{ padding:20px 0px 0px 0px;}
.idx-star-goods ul li .title{ font-weight:normal; font-size:14px; height:24px; line-height:24px; max-height:48px; overflow:hidden;}
.idx-star-goods ul li .title a:hover{ color:#e30000; text-decoration:none;}
.idx-star-goods ul li .subtitle { color:#aaa; font-size:12px; height:24px; line-height:24px; max-height:48px; overflow:hidden;}
.idx-star-goods ul li .price{ height:24px; line-height:24px; overflow:hidden;}
.idx-star-goods ul li .price span{ color:#d30000; font-size:13px; font-style:normal;}
.idx-star-goods ul li .price span em{}
.idx-star-goods ul li .price span.money{ margin-left:5px;}

/*推荐*/
.idx-recomd-goods{}
.idx-recomd-goods .header{ padding:25px 0px 10px 0px; position:relative;}
.idx-recomd-goods .header .title{ font-size:24px; font-weight:normal;}
.idx-recomd-goods .more{ position:absolute; bottom:15px; right:0px; }
.idx-recomd-goods .more a{ border:1px solid #eee; display:inline-block; font-size:12px; height:24px; line-height:24px; width:32px; text-align:center;}
.idx-recomd-goods .more a:hvoer{ color:#ff6700;}
.idx-recomd-goods .section{ padding:0px 0px 25px 0px; position:relative; }
.idx-recomd-goods .section .section-wrapper{ height:350px; overflow:hidden; position:relative; top:0px; left:0px; width:1200px; }
.idx-recomd-goods ul{ height:330px; position:absolute; left:0px; top:0px; width:1200px; z-index:1;}
.idx-recomd-goods ul li{ background-color:#fcfcfc; border-top:1px solid #f4f4f4; display:inline-block; float:left; margin:0px 15px 0px 0px; height:300px; width:198px; overflow:hidden; padding:25px 15px 5px 15px; text-align:center;}
.idx-recomd-goods ul li:hover{ background-color:#fff; -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 10px; -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 10px; box-shadow:rgba(0,0,0,0.1) 0px 1px 10px}
.idx-recomd-goods ul li:last-child{ margin-right:0px;}
.idx-recomd-goods ul li .thumb{ padding:10px 5px 5px 5px; text-align:center; }
.idx-recomd-goods ul li .thumb img{ height:150px; width:150px;}
.idx-recomd-goods ul li .info{ padding:20px 0px 0px 0px;}
.idx-recomd-goods ul li .title{ font-weight:normal; font-size:14px; height:24px; line-height:24px; max-height:48px; overflow:hidden;}
.idx-recomd-goods ul li .title a:hover{ color:#e30000; text-decoration:none;}
.idx-recomd-goods ul li .subtitle { color:#aaa; font-size:12px; height:24px; line-height:24px; max-height:48px; overflow:hidden;}
.idx-recomd-goods ul li .price{ height:24px; line-height:24px; overflow:hidden;}
.idx-recomd-goods ul li .price span{ color:#d30000; font-size:13px; font-style:normal;}
.idx-recomd-goods ul li .price span em{}
.idx-recomd-goods ul li .price span.money{ margin-left:5px;}

/*楼层*/
.idx-floor{ background:#f4f4f4; padding-bottom:30px; }
.shop-floor{ margin:0px auto; padding:25px 0px 0px 0px; width:1200px;}
.shop-floor .header{ padding:5px 0px 10px 0px; position:relative;}
.shop-floor .header .title{ font-size:24px; font-weight:normal;}
.shop-floor .header .floor-num{ color:#888; display:none; font-size:18px; font-weight:normal; padding:0px 6px 0px 0px; vertical-align:bottom;}
.shop-floor .header .floor-name{ color:#424242; font-size:22px; font-weight:normal;}
.shop-floor .header .subcate{ position:absolute; right:0px; bottom:10px;}
.shop-floor .header .subcate a{}
.shop-floor .header .subcate li.link{ float:left;}
.shop-floor .header .subcate li.link a{ display:inline-block; font-weight:normal; height:30px; line-height:30px; padding:0px 12px;}
.shop-floor .header .subcate li.link a:hover{ color:#c60000; text-decoration:none;}
.shop-floor .header .subcate li.spacer{ background:#ddd; float:left; height:14px; margin:8px 1px 0px 1px; overflow:hidden; padding:0px; width:1px; }
.shop-floor .header .subcate li.spacer-1{ display:none;}

.shop-floor .section{}
.shop-floor-goods{}
.shop-floor-goods ul{}
.shop-floor-goods ul li{ background-color:#fff; display:inline-block; float:left; margin:0px 0px 15px 15px; height:300px; width:198px; overflow:hidden; padding:25px 15px 5px 15px; text-align:center;}
.shop-floor-goods ul li:first-child{ margin-left:0px;}
.shop-floor-goods ul li:hover{-webkit-box-shadow:rgba(0,0,0,0.2) 0px 1px 4px; -moz-box-shadow:rgba(0,0,0,0.2) 0px 1px 4px; box-shadow:rgba(0,0,0,0.2) 0px 1px 4px;}
.shop-floor-goods ul li .thumb{ padding:10px 5px 5px 5px; text-align:center; }
.shop-floor-goods ul li .thumb img{ height:150px; width:150px;}
.shop-floor-goods ul li .info{ background-color:#fff; padding:10px 0px;}
.shop-floor-goods ul li .title{ font-weight:normal; font-size:14px; height:24px; line-height:24px; max-height:48px; overflow:hidden;}
.shop-floor-goods ul li .title a:hover{ color:#e30000; text-decoration:none;}
.shop-floor-goods ul li .subtitle { color:#aaa; font-size:12px; height:24px; line-height:24px; max-height:48px; overflow:hidden;}
.shop-floor-goods ul li .price{ height:24px; line-height:24px; overflow:hidden; }
.shop-floor-goods ul li .price span{ color:#d30000; font-size:13px; font-style:normal;}
.shop-floor-goods ul li .price span em{}
.shop-floor-goods ul li .price span.money{ margin-left:5px;}
.shop-floor-goods ul li.hero{ height:330px; width:228px; padding:0px; text-align:left;}
.shop-floor-goods ul li.hero ul{ padding:0px;}
.shop-floor-goods ul li.hero ul li{ height:330px; width:228px; margin:0px; padding:0px;}

/*更多*/
.ow-idx-more{ font-size:20px; text-align:center; padding:10px 0px 0px 0px;}
.ow-idx-more a{}
.ow-idx-more a:hover{}

/*新闻*/
.ow-idx-news{ background-color:#f4f4f4; padding:40px 0px;}
.ow-idx-news h2.header { font-size:24px; font-weight:normal; height:24px; line-height:24px; padding:0px 0px 20px 0px; text-align:center;}
.ow-idx-news .cates{}
.ow-idx-news .cates ul{ padding:10px 0px; zoom:1; overflow:auto; text-align:center;}
.ow-idx-news .cates ul li{ display:inline; padding:0px 5px;}
.ow-idx-news .cates ul li a{ background-color:#fff; border:0px solid #d6d6d6; display:inline-block; font-size:15px; height:24px; line-height:24px; padding:6px 25px;}
.ow-idx-news .cates ul li a:hover{ background-color:#2993df; border-color:#2993df; color:#fff; text-decoration:none;}

.ow-idx-news .section{ padding:20px 0px 0px 0px;}
.ow-idx-news .section ul{ padding:0px;}
.ow-idx-news .section ul li{ background-color:#fff; float:left; height:300px; width:228px; margin:0px 15px 15px 0px; position:relative;}
.ow-idx-news .section ul li.li5,
.ow-idx-news .section ul li.li10,
.ow-idx-news .section ul li.li15,
.ow-idx-news .section ul li.li20,
.ow-idx-news .section ul li.li25,
.ow-idx-news .section ul li.li30,
.ow-idx-news .section ul li.li35,
.ow-idx-news .section ul li.li40{ margin-right:0px;}
.ow-idx-news .section ul li .thumb a{ display:block; height:140px; width:228px; text-align:center; overflow:hidden;}
.ow-idx-news .section ul li .thumb a img{ height:140px; width:228px; }
.ow-idx-news .section ul li .title{ font-size:14px; font-weight:normal; max-height:48px; line-height:24px; overflow:hidden; padding:15px 12px 0px 12px;}
.ow-idx-news .section ul li .title a:hover{ text-decoration:none;}
.ow-idx-news .section ul li .summary{ color:#aaa; font-size:12px; max-height:48px; line-height:24px; margin:5px 0px 0px 0px; overflow:hidden; padding:0px 12px;}
.ow-idx-news .section ul li .datetime{ color:#aaa; font-size:12px; padding:0px 12px;}
.ow-idx-news .section ul li:hover{ -webkit-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.1); -moz-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.1); box-shadow:0px 0px 2px 1px rgba(0,0,0,0.1); }
.ow-idx-news .section ul li:hover a,
.ow-idx-news .section ul li:hover a:visited{ color:#e60000;}
.ow-idx-news .section ul li:hover img{ transform:scale(1.06,1.06); transition-duration:500ms; transition-timing-function:ease-out; }

/*友情链接*/
.ow-flinks { background:#f4f4f4; margin:0px auto; padding:30px 0px;}
.ow-flinks .wrapper{ border-top:1px solid #ddd; line-height:24px;}
.ow-flinks .flinks{ padding-top:30px;}
.ow-flinks span{ color:#666; font-weight:bold; margin-right:12px;}
.ow-flinks a{ display:inline-block; margin:0px 12px 0px 0px; white-space:nowrap;}
.ow-flinks a,
.ow-flinks a:visited{ color:#888;}
.ow-flinks a:hover { color:#222; text-decoration:none;}







