@charset "utf-8";
/*商品详细页*/

.ow-point-charge-body{ background-color:#f4f4f4; padding:80px 0px; zoom:1; overflow:auto;}

.ow-point-charge-list{ margin:auto; width:1200px;}
.ow-point-charge-list ul{}
.ow-point-charge-list ul li{ background-color:#fff; border:1px solid #e6e6e6; float:left; height:180px; padding:20px; text-align:center; width:258px;}
.ow-point-charge-list ul li:hover{ background-color:#fafafa; border-color:#d6d6d6;}
.ow-point-charge-list ul li h4{ font-size:20px; font-weight:normal;}
.ow-point-charge-list ul li h3{ color:#26a500; font-size:32px; font-weight:normal; height:32px; line-height:32px; padding:12px 0px 8px 0px;}
.ow-point-charge-list ul li .price{ color:#e60000; font-size:16px; font-weight:normal;}
.ow-point-charge-list ul li .buy{ padding-top:10px;}
.ow-point-charge-list ul li .btn-charge{ background:#c60000; color:#fff; display:inline-block; font-size:16px; height:24px; line-height:24px; padding:5px 20px;}
.ow-point-charge-list ul li .btn-charge:hover{ background-color:#a60000; text-decoration:none;}

.ow-point-charge-body .goods{
	background-color:#fff; font-size:14px; margin:0px auto; padding:20px 0px; width:1200px; zoom:1; overflow:auto;
	-webkit-box-shadow:rgba(0,0,0,0.2) 0px 0px 3px; -moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 3px; box-shadow:rgba(0,0,0,0.2) 0px 0px 3px; 
}
.goods-gallery{ float:left; width:410px; padding:0px; position:relative;}
.gallery-goods { position:relative; width:380px; z-index:1;}
.gallery-goods .gallery-view { border:1px solid #ccc; height:234px; width:380px;}
.gallery-goods .gallery-view img { max-height:234px; max-width:380px; }
.goods-property { color:#222; float:left; width:790px; }
.goods-property h1.title { color:#26a500; font-size:32px; font-weight:normal; line-height:36px; padding:10px 0px 10px 0px;}
.goods-property h1.title em{ font-size:18px; font-style:normal; padding-left:10px;}
.goods-property .price { border-top:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4; font-size:14px; margin:0px 0px 10px 0px; padding:10px 0px; zoom:1; overflow:auto;}
.goods-property .price dl{ float:left;}
.goods-property .price dl dt{}
.goods-property .price dl dd{}
.goods-property .price dl.my-price{ border-right:1px solid #eee; margin-right:15px; padding-right:20px;}
.goods-property .price dl.my-price dd{}
.goods-property .price span.money { color:#d30000; font-size:24px; font-style:normal;}
.goods-property .price span.market-price{ color:#222; display:none; font-size:14px; margin-left:15px;}
.goods-property .price span.market-price del { font-size:15px; padding-left:3px; text-decoration:none;}
.goods-property .price a.get-member-price{ color:#888; display:none; float:right; font-size:12px; font-weight:normal; margin-left:15px;}
.goods-property .price a.get-member-price:visited{ color:#888;}
.goods-property .price a.get-member-price:hover{ color:#000; text-decoration:none;}
.goods-property .price .my-price span{ font-weight:bold;}
.goods-property .price .my-price span b{ font-weight:bold;}
.goods-property .member-price{}
.goods-property .sales{ border-bottom:1px solid #fafafa; font-size:14px; margin:0px 0px 5px 0px; padding:0px 0px 8px 0px;}
.goods-property .action{ padding:5px 0px 30px 0px;}
.goods-property .btn-buy{ border:none; color:#fff; font-size:16px; font-weight:bold; height:44px; width:160px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.goods-property .btn-buy { background-color:#c60000; margin-right:10px;}
.goods-property .btn-buy:hover,
.goods-property .btn-buy:active { background-color:#bc0000;}

