@charset "utf-8";
/* 
* 商城主样式
* Author: Lin xiao dong
* http://www.openwbs.com
*/

/**价格**/
span.money { font-family:verdana; }
span.money em{ font-style:normal;}
span.money b{ font-weight:normal;}
span.point{ font-family:verdana; }
span.point em{ font-style:normal; padding:0px 3px;}
span.point b{ font-weight:normal;}

/**内容部分**/
#shopbody{}
#shopbody{ background:#f4f4f4; }
#shopbody .ow-breadcrumb{ background:#fcfcfc; border-bottom:1px solid #f2f2f2; font-size:12px; padding:10px 0px; text-align:right;}
#shopbody .ow-breadcrumb h1{ float:left; font-weight:normal; font-size:16px; }

/**二级分类**/
.ow-shop-subcate{ background:#fcfcfc; border-bottom:1px solid #f2f2f2; }
.ow-shop-subcate ul{ margin:auto; width:1200px; zoom:1; overflow:auto; padding:10px 0px;}
.ow-shop-subcate ul li{ float:left; }
.ow-shop-subcate ul li a{ display:inline-block; font-size:14px; font-weight:bold; margin:0px 20px 0px 0px;}
.ow-shop-subcate ul li.current a{ color:#ff6700; }


/**商品类型筛选**/
.ow-goods-type-section{ background:#fff; border-bottom:1px solid #eee;}
.ow-goods-type-section .type-header{ display:none; padding:2px 10px 5px 0px; }
.ow-goods-type-section .type-section{ padding:3px 0px;}
.ow-goods-type-section .type-line{ border-top:1px solid #f6f6f6; font-size:14px; zoom:1; overflow:hidden; padding:0px 0px 8px 0; position:relative;}
.ow-goods-type-section .type-line1{ border-top:0px;}
.ow-goods-type-section .type-line .type-attr{ color:#424242; float:left; padding:6px 2px 0px 0px; text-align:left; width:70px; }
.ow-goods-type-section .type-line .type-value{ float:left; width:1080px;}
.ow-goods-type-section .type-line .type-value ul{ padding:6px 0px 0px 0px;}
.ow-goods-type-section .type-line .type-value li{ float:left; height:20px; line-height:20px; white-space:nowrap; padding:2px 0px;}
.ow-goods-type-section .type-line .type-value li a{ display:inline-block; height:20px; line-height:20px; padding:1px 10px;}
.ow-goods-type-section .type-line .type-value li a.current{ background:#ff6700; color:#fff;}
.ow-goods-type-section .type-line .type-value li a.current:hover{ text-decoration:none; cursor:default;}

/**排序**/
.ow-goods-orderby { padding:15px 0px 0px 0px;}
.ow-goods-orderby .order{}
.ow-goods-orderby .order a{ background-color:#eee; border:2px solid #eee; color:#333; display:inline-block; font-size:12px; height:20px; line-height:20px; margin-right:1px; padding:0px 12px;}
.ow-goods-orderby .order a:hover{ border-bottom:2px solid #ff6700;}
.ow-goods-orderby .order a.current{ background:#ff6700; border-color:#ff6700; color:#fff;}

/**分类页商品商品区**/
.ow-shop-categoods-section{ margin:auto; width:1200px;}
.ow-shop-categoods-section .categoods-section{ padding:15px 0px 15px 0px;}
.ow-shop-categoods-section .categoods-section .pager{ height:50px; margin:20px 0px 0px 0px; padding:40px 0px 40px 0px; text-align:center;}

/*商品列表*/
ul.ow-goods-list{}
ul.ow-goods-list li{ background-color:#fff; display:inline-block; float:left; margin:0px 15px 15px 0px; height:300px; width:198px; overflow:hidden; padding:25px 15px 5px 15px; text-align:center;}
ul.ow-goods-list li.li5,
ul.ow-goods-list li.li10,
ul.ow-goods-list li.li15,
ul.ow-goods-list li.li20,
ul.ow-goods-list li.li25,
ul.ow-goods-list li.li30{ margin-right:0px;}
ul.ow-goods-list li:hover{ -webkit-box-shadow:rgba(0,0,0,0.2) 0px 1px 4px; -moz-box-shadow:rgba(0,0,0,0.2) 0px 1px 4px; box-shadow:rgba(0,0,0,0.2) 0px 1px 4px;}
ul.ow-goods-list li .thumb{ padding:10px 5px 5px 5px; text-align:center; }
ul.ow-goods-list li .thumb img{ height:150px; width:150px;}
ul.ow-goods-list li .info{ padding:20px 0px 0px 0px;}
ul.ow-goods-list li .title{ font-weight:normal; font-size:14px; line-height:24px; max-height:48px; overflow:hidden;}
ul.ow-goods-list li .title a:hover{ color:#e30000; text-decoration:none;}
ul.ow-goods-list li .subtitle { color:#aaa; font-size:12px; line-height:24px; max-height:48px; padding:0px 10px; overflow:hidden;}
ul.ow-goods-list li .price{ height:24px; line-height:24px; overflow:hidden;}
ul.ow-goods-list li .price span{ color:#d30000; font-size:13px; font-style:normal;}
ul.ow-goods-list li .price span em{}
ul.ow-goods-list li .price span.money{ margin-left:5px;}

/*文章页相关商品列表*/
.ow-content-related-goods{ border:1px solid #eee; padding:10px 15px;}
.ow-content-related-goods ul{ font-size:12px; zoom:1; overflow:auto;}
.ow-content-related-goods ul li{ border-bottom:1px solid #eee; display:block; padding:15px 0px; zoom:1; overflow:auto;}
.ow-content-related-goods ul li:last-child{ border-bottom:0px;}
.ow-content-related-goods ul li .thumb{ float:left; margin-right:15px; text-align:center;}
.ow-content-related-goods ul li .thumb img{ height:120px; width:120px; vertical-align:top; }
.ow-content-related-goods ul li .info{ zoom:1; overflow:auto;}
.ow-content-related-goods ul li .title{ color:#222; font-size:16px; font-weight:normal;}
.ow-content-related-goods ul li .subtitle{ color:#888; max-height:36px; line-height:18px; overflow:hidden; padding:5px 0px 0px 0px; text-overflow:ellipsis;}
.ow-content-related-goods ul li .price{ padding:3px 0px 0px 0px;}
.ow-content-related-goods ul li .price span.money{ color:#d30000; font-size:14px;}
.ow-content-related-goods ul li .price span.point{ color:#d30000; font-size:14px; padding-right:3px;}
.ow-content-related-goods ul li .price span.point em{ font-size:14px;}
.ow-content-related-goods ul li .buy{ padding:7px 0px 0px 0px;}
.ow-content-related-goods ul li .buy a,
.ow-content-related-goods ul li .buy a:visited{ background:#fff; border:1px solid #d30000; color:#d30000; display:inline-block; font-size:12px; height:22px; line-height:22px; padding:0px 10px;}
.ow-content-related-goods ul li .buy a:hover{ background:#d30000; color:#fff;}

/*标签云*/
.ow-goods-tags{}
.ow-goods-tags .section{ margin:0px auto; padding:15px; width:1200px;}
.ow-goods-tags a{ margin-right:5px;}
.ow-goods-tags a,
.ow-goods-tags a:visited{}

/*按钮无效状态*/
button.disabled,
button.disabled:hover{ background-color:#e6e6e6; background-image:none; border:1px solid #ddd; color:#bbb; cursor:default; text-shadow:rgba(255,255,255,0.5) 0px 1px 0px;}











