@charset "utf-8";

/**优惠券**/
.ow-coupons{ padding:10px 10px 10px 10px;}
.ow-coupons .section{}
.ow-coupons .ow-coupon{ margin:0px 0px 10px 0px; padding:0px;}
.ow-coupons .ow-coupon a.link{ background:#fff; display:block;}
.ow-coupons .ow-coupon a.link,
.ow-coupons .ow-coupon a.link:visited{}
.ow-coupons .ow-coupon a.link:hover{ border-color:#888; text-decoration:none;}

.ow-coupons .ow-coupon dl{ background:#fff; zoom:1; overflow:auto; }
.ow-coupons .ow-coupon dl dt{ background-color:#cb3e3e; border-bottom:1px solid #9a0707; color:#fff; height:96px; position:relative; }
.ow-coupons .ow-coupon dl dt .coupon-money{ padding:20px 0px 0px 10px;}
.ow-coupons .ow-coupon dl dt .coupon-money .moneysb{ font-style:normal; font-size:18px; font-weight:bold; padding-right:5px;}
.ow-coupons .ow-coupon dl dt .coupon-money .money{ font-size:48px; font-weight:bold; height:48px; line-height:48px;}
.ow-coupons .ow-coupon dl dt .coupon-money .coupon-name{ font-size:18px; padding-left:10px;}
.ow-coupons .ow-coupon dl dt .point{ background-color:#a91e1e; font-size:14px; padding:0px 0px; position:absolute; bottom:0px; width:100%;}
.ow-coupons .ow-coupon dl dt .point span{ padding-left:13px;}

.ow-coupons .ow-coupon dl dd{ background-color:#f6f6f6; border:1px solid #ccc; border-top:none; padding:10px 0px 10px 10px; position:relative;}
.ow-coupons .ow-coupon dl dd.detail{ height:auto;}
.ow-coupons .ow-coupon dl dd .span-dt{ color:#888; display:inline-block; float:left; width:60px;}
.ow-coupons .ow-coupon dl dd .span-dd{ color:#333; padding-left:60px;}
.ow-coupons .ow-coupon dl dd .get-time{ padding:2px 0px;}
.ow-coupons .ow-coupon dl dd .use-time{ padding:2px 0px;}
.ow-coupons .ow-coupon dl dd .use-min-money{ padding:2px 0px;}
.ow-coupons .ow-coupon dl dd .use-goods-rule{ padding:2px 0px;}

/**优惠券详细**/
.ow-coupon-detail .ow-coupon .point{ background-color:#a91e1e; color:#fff; font-size:14px; padding:2px 0px; text-align:center;}
.ow-coupon-detail .ow-coupon .point span{ padding-left:13px;}

.ow-coupon-detail .ow-coupon .header{ background-color:#cb3e3e; border-bottom:1px solid #9a0707; color:#fff; height:170px; position:relative; }
.ow-coupon-detail .ow-coupon .header .coupon-money{ padding:15px 0px 0px 0px; text-align:center;}
.ow-coupon-detail .ow-coupon .header .coupon-money .moneysb{ font-style:normal; font-size:24px; padding-right:5px;}
.ow-coupon-detail .ow-coupon .header .coupon-money .money{ font-size:60px; font-weight:bold; height:60px; line-height:60px;}
.ow-coupon-detail .ow-coupon .header .coupon-money .moneysb-name{ font-size:24px; padding-left:10px; }
.ow-coupon-detail .ow-coupon .header .coupon-money .coupon-name{ font-size:18px;}

.ow-coupon-detail .ow-coupon .coupon-button-section{ position:absolute; left:50%; margin-left:-50px; top:120px;}
.ow-coupon-detail .ow-coupon .btn-get-coupon{
	background-color:#ff9c00; color:#fff; display:inline-block; font-size:32px; height:100px; line-height:100px; width:100px; text-align:center;
	-webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px;
	-webkit-box-shadow:rgba(0,0,0,0.5) 0px 1px 3px; -moz-box-shadow:rgba(0,0,0,0.5) 0px 1px 3px; box-shadow:rgba(0,0,0,0.5) 0px 1px 3px;
}
.ow-coupon-detail .ow-coupon .btn-get-coupon:hover{ background-color:#830404; text-decoration:none; }

.ow-coupon-detail .ow-coupon .section{ padding:40px 15px 15px 15px;}
.ow-coupon-detail .ow-coupon .section .span-dt{ color:#888;}
.ow-coupon-detail .ow-coupon .section .span-dd{ color:#333; padding:0px 0px 5px 0px;}

.ow-coupon-detail .ow-coupon dl dd .use-goods-rule ul.coupon-cate-list{}
.ow-coupon-detail .ow-coupon dl dd .use-goods-rule ul.coupon-cate-list li{}
.ow-coupon-detail .ow-coupon dl dd .use-goods-rule ul.coupon-goods-list{}
.ow-coupon-detail .ow-coupon dl dd .use-goods-rule ul.coupon-goods-list li{}
