@charset "utf-8";
/* 
* 购物车样式
* Author: DX.Lin
* http://www.openwbs.com
*/

/*购物车*/
.ow-cart{ background-color:#fff;}
.ow-cart .cart-null-goods{ font-size:14px; padding:60px 10px; text-align:center;}
.cart-goods{}
.cart-goods ul{ padding:0px 10px;}
.cart-goods ul.current{ background-color:#fafafa;}
.cart-goods li.item-goods{ border-bottom:1px solid #eee; min-height:80px; padding:10px 0px; position:relative; zoom:1; overflow:auto;}
.cart-goods li.item-goods .col-check { position:absolute; top:15px; left:5px; width:30px; }
.cart-goods li.item-goods .col-pic { position:absolute; top:14px; left:36px; width:68px; }
.cart-goods li.item-goods .col-pic a { background-color:#fff; border:1px solid #ccc; display:inline-block; height:66px; width:66px; text-align:center; }
.cart-goods li.item-goods .col-pic a .thumbnail { max-height:66px; max-width:66px; height:expression(this.height > 66 && this.height/this.width >= 1 ? 66 : true); width:expression(this.width > 66 && this.width/this.height >= 1 ? 66 : true); }
.cart-goods li.item-goods .col-info { line-height:20px; padding-left:115px; position:relative;}
.cart-goods li.item-goods .col-info .item-title{ max-height:44px; text-overflow:ellipsis;}
.cart-goods li.item-goods .col-info .item-title,
.cart-goods li.item-goods .col-info .item-title:visited{ color:#3e65b3;}
.cart-goods li.item-goods .col-info .item-spec{ color:#666; font-weight:bold;}
.cart-goods li.item-goods .col-info .item-price span{ color:#d30000;}
.cart-goods li.item-goods .col-info .item-amount{ padding-top:2px; zoom:1; overflow:auto;}
.cart-goods li.item-goods .col-info .item-operate{ padding-top:0px; position:absolute; bottom:0px; right:0px;}
.cart-goods li.item-goods .col-info .item-operate a,
.cart-goods li.item-goods .col-info .item-operate a:visited{ color:#888;}
.cart-goods li.item-goods .col-info .item-operate .remove{}

.cart-goods ul.suit { border-bottom:1px solid #eee;}
.cart-goods ul.suit li.item-suit{ height:55px; padding:10px 0px 0px 0px; position:relative;}
.cart-goods ul.suit li.item-suit .col-check { position:absolute; top:10px; left:5px; width:30px; }
.cart-goods ul.suit li.item-suit .col-suit-name { position:absolute; top:12px; left:30px;}
.cart-goods ul.suit li.item-suit .col-suit-operate{ position:absolute; top:10px; right:0px;}
.cart-goods ul.suit li.item-suit .col-suit-operate a,
.cart-goods ul.suit li.item-suit .col-suit-operate a:visited{ color:#888;}
.cart-goods ul.suit li.item-suit .col-suit-amount{ position:absolute; top:40px; left:115px;}
.cart-goods ul.suit li.item-suit .col-suit-price{ position:absolute; top:43px; left:36px;}
.cart-goods ul.suit li.item-suit .col-suit-price span{ color:#d30000;}

.cart-goods ul.suit li.item-goods{ border-bottom:1px dotted #eee; margin-left:36px; }
.cart-goods ul.suit li.item-goods:last-child{ border-bottom:none;}
.cart-goods ul.suit li.item-goods .col-pic{ left:0px;}
.cart-goods ul.suit li.item-goods .col-info{ padding-left:79px;}
.cart-goods ul.suit li.item-goods .col-info .item-amount{ color:#aaa; display:none; padding-top:0px;}
.cart-goods ul.suit li.item-goods .col-info .item-operate{ padding-top:5px;}
.cart-goods ul.suit li.item-goods .col-info .item-price span{ color:#aaa;}

.cart-goods a.remove,
.cart-goods a.favorite{ background-color:#fff; border:1px dotted #e6e6e6; display:inline-block; padding:1px 10px;}
.cart-goods a.favorite{ display:none;}

.cart-goods li .item-amount a.amount-do { background-color:#fff; border:1px solid #ddd; color:#666; display:inline-block; float:left; font-size:20px; font-weight:normal; height:24px; line-height:20px; width:26px; text-align:center;}
.cart-goods li .item-amount a.amount-do:hover{ background-color:#eee; color:#222; text-decoration:none;}
.cart-goods li .item-amount a.amount-decrease{ border-right:none;}
.cart-goods li .item-amount a.amount-increase{ border-left:none;}
.cart-goods li .item-amount input.text-amount{ border:1px solid #ddd; float:left; text-align:center; height:24px; line-height:24px; width:30px;}

.cart-action{ background:#fff; padding:10px 10px 20px 10px; zoom:1; overflow:auto;}
.cart-action .cart-sum{ padding:5px 0px 10px 0px; line-height:20px;}
.cart-action .price-sum span.money { color:#d30000; font-size:16px; padding-left:5px;}
.cart-action .price-sum span.money em{ font-weight:bold;}
.cart-action .price-sum span.money b{ font-weight:bold;}
.cart-action .cart-button{}

/**去结算/提交订单**/
.btn-cart-submit,
.btn-order-submit{
	background-color:#c40000;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#d90f0f),color-stop(100%,#c30202));
	background-image:-webkit-linear-gradient(#d90f0f,#c30202);
	background-image:-moz-linear-gradient(#d90f0f,#c30202);
	background-image:-o-linear-gradient(#d90f0f,#c30202);
	background-image:linear-gradient(#d90f0f,#c30202);
	-webkit-box-shadow:rgba(255,255,255,0.2) 0 1px 0 inset;
	-moz-box-shadow:rgba(255,255,255,0.2) 0 1px 0 inset;
	box-shadow:rgba(255,255,255,0.2) 0 1px 0 inset;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	border:1px solid #d30e0e; border-bottom-color:#b50000; color:#fff; display:inline-block; font-size:18px; font-weight:bold; line-height:20px; padding:10px 40px; width:100%;
	}
button.disabled,
button.disabled:hover{ background-color:#e6e6e6; background-image:none; border:1px solid #ddd; color:#bbb; cursor:default; text-shadow:rgba(255,255,255,0.5) 0px 1px 0px;}

/**订单提交**/
.ow-order{ padding:0px; }
.order-goods-form-item{ background-color:#fff; margin-bottom:10px;}
.order-goods-form-item .order-goods{ padding-bottom:10px;}
.order-goods-form-item .order-form { border-top:none;}
.order-goods-form-item .order-form form{ margin:0px; padding-top:0px;}

/**地区**/
.order-region{}
/**订单数据**/
.ow-order-formdata-list{ background:#fff url("../images/address_line.png") 0px top repeat-x; padding-top:2px;}
.ow-order-formdata-list a.select-formdata{ display:block; font-size:14px; height:24px; line-height:24px; padding:8px 15px 8px 15px; text-align:center;}
.ow-order-formdata-list ul{}
.ow-order-formdata-list ul li{}
.ow-order-formdata-list ul li label{ display:block; padding:10px;}
.ow-order-formdata-list ul li label:hover{ background:#fdf9f0;}
.ow-order-formdata-list ul li span.field{ margin-right:10px;}
.ow-order-formdata-list ul li span.field-region{ background-color:#fafafa; color:#888; margin-right:10px;}

/**配送**/
.order-dly{ background:#fff; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:10px 15px;}
.order-dly-header{ border-bottom:1px solid #eee; color:#888; font-size:14px; padding:0px 0px 3px 0px;}
.order-dly-section{}
.order-dly-section label{ display:block; padding:0px 5px 5px 5px;}
.order-dly-section label:hover{ background:#fdf9f0;}
.order-dly-section dt{ height:24px; line-height:24px; padding:3px 0px 3px 0px;}
.order-dly-section dt input{ vertical-align:middle; }
.order-dly-section dt span{ color:#222; display:inline-block; font-size:14px; font-weight:bold; vertical-align:middle; padding-left:4px;}
.order-dly-section dt span em{ color:#d30000; font-size:12px; font-weight:normal; font-style:normal; padding-left:5px; vertical-align:bottom;}
.order-dly-section dd{ color:#888; padding:0px 0px 0px 22px;}

/**自提点**/
.order-offline-store{ padding:5px 0px 5px 0px;}
.order-offline-store a,
.order-offline-store a:visited{ color:#3e65b3; }
.order-offline-store a:hover{ color:#c60000; }
.order-offline-store a.offline-select{ background:url("../images/icon-offline.png") 0px center no-repeat; display:block; font-size:15px; font-weight:bold; height:24px; line-height:24px; padding:8px 0px 5px 28px;}
.order-offline-store a.offline-cancel{ font-size:12px; padding-left:12px; }
.order-offline-store .order-offline-info{ display:block; padding-left:28px;}

/**自提点列表**/
.ow-order-offline-diawin{}
.ow-order-offline-list{ background:#fff; overflow-y:scroll;}
.ow-order-offline-list ul{}
.ow-order-offline-list ul li{ border-bottom:1px solid #f6f6f6; }
.ow-order-offline-list ul li:last-child{ border-bottom:0px; }
.ow-order-offline-list ul li label{ padding:11px 10px 10px 10px; display:block;}
.ow-order-offline-list ul li:hover{ background:#fdf9f0;}
.ow-order-offline-list ul li.current{ background:#fbefd5;}

/**商品**/
.ow-order ul.goods{ padding:0px 10px;}
.ow-order ul.current{ background-color:#fafafa;}
.ow-order li.item-goods{ border-bottom:1px solid #eee; min-height:72px; padding:8px 0px 8px 0px; position:relative; zoom:1; overflow:auto;}
.ow-order li.item-goods .col-pic { position:absolute; top:10px; left:0px; width:68px; }
.ow-order li.item-goods .col-pic a { background-color:#fff; border:1px solid #ccc; display:inline-block; height:66px; width:66px; text-align:center; vertical-align:top; }
.ow-order li.item-goods .col-pic a .thumbnail { max-height:66px; max-width:66px; height:expression(this.height > 66 && this.height/this.width >= 1 ? 66 : true); width:expression(this.width > 66 && this.width/this.height >= 1 ? 66 : true); }
.ow-order li.item-goods .col-info { line-height:22px; padding-left:79px;}
.ow-order li.item-goods .col-info .item-title{ max-height:44px; overflow:hidden;}
.ow-order li.item-goods .col-info .item-spec{ color:#666;}
.ow-order li.item-goods .col-info .item-price{ color:#666; }
.ow-order li.item-goods .col-info .item-price .goods-price{ padding:0px 8px 0px 0px;}
.ow-order li.item-goods .col-info .item-price .goods-price .price-discount{ color:#43a508; display:inline-block; padding:0px 0px 0px 0px;}
.ow-order li.item-goods .col-info .item-price .goods-amount{ font-family:verdana; padding:0px 8px 0px 0px;}
.ow-order li.item-goods .col-info .item-price .goods-sum span{ color:#d30000; font-weight:bold;}
.ow-order li.item-goods .col-info .item-price .goods-sum span b{ font-weight:bold;}

.ow-order ul.suit { border-bottom:1px solid #eee; padding:0px 10px 0px 10px;}
.ow-order ul.suit li.item-suit{ padding:10px 0px 0px 0px;}
.ow-order ul.suit li.item-suit .col-suit-name { display:inline; margin-left:-5px; padding-right:10px;}
.ow-order ul.suit li.item-suit .col-suit-info { display:inline; color:#666; padding-top:5px;}
.ow-order ul.suit li.item-suit .col-suit-info .suit-price{}
.ow-order ul.suit li.item-suit .col-suit-info .suit-amount{padding:0px 8px;}
.ow-order ul.suit li.item-suit .col-suit-info .suit-sum span{ color:#d30000; font-weight:bold;}
.ow-order ul.suit li.item-suit .col-suit-info .suit-sum span b{ font-weight:bold;}

.ow-order ul.suit li.item-goods{ border-bottom:1px dotted #eee; }
.ow-order ul.suit li.item-goods:last-child{ border-bottom:none;}
.ow-order ul.suit li.item-goods .col-pic{ left:0px;}
.ow-order ul.suit li.item-goods .col-info .item-price .goods-sum span b{ font-weight:normal;}

.ow-order .footer{ background-color:#fff; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:10px 15px;}
.ow-order .footer .header{ border-bottom:1px solid #ddd; font-size:14px; font-weight:bold; padding:0px 0px 2px 0px; text-align:right;}
.ow-order .footer .section{ font-size:14px; padding:5px 0px 0px 0px;}
.ow-order .footer .section .price-line{ font-size:12px; line-height:24px; padding:2px 2px; text-align:right;}
.ow-order .footer .section .price-line span { color:#d30000; display:inline-block; font-size:14px; font-family:verdana; font-style:normal; padding-left:4px; width:100px; }
.ow-order .footer .section .price-line span em{}
.ow-order .footer .section .price-line span b{}
.ow-order .footer .section .price-point span b{ padding-right:2px;}
.ow-order .footer .section .price-coupon .money{ color:#00854b;}
.ow-order .footer .section .price-freight .money{ color:#424242;}
.ow-order .footer .section .price-invoice .money{ color:#424242;}
.ow-order .footer .section .total-amount .money{ font-size:18px;}
.ow-order .footer .section .price-amount .money{ font-size:20px;}
.ow-order .footer .buttons{ padding:10px 0px 10px 0px; text-align:right;}

.ow-buy-section{ position:fixed; bottom:0px; width:100%; z-index:1000; }
.ow-buy-section > .action{ background:#fff; margin:0px auto; max-width:640px; zoom:1; overflow:auto;}
.ow-buy-section > .action .order-price{ border-top:1px solid #ddd; float:left; height: 1.41176em; line-height: 1.41176; width:66%; padding:12px 0px 0px 0px; text-align:right;}
.ow-buy-section > .action .order-price .money{ color:#d30000;}
.ow-buy-section > .action .order-price .order-price-amount{ display:inline-block; font-size:14px; padding:0px 10px 0px 0px;}
.ow-buy-section > .action .order-price .order-price-book{ border-left:1px solid #ddd; display:inline-block; font-size:12px; padding:0px 5px 0px 10px}
.ow-buy-section > .action .btn-submit { background-color:#c60000; border:none; color:#fff; float:left; font-size:16px; font-weight:bold; height:48px; width:34%;}
.ow-buy-section > .action .btn-submit:hover,
.ow-buy-section > .action .btn-submit:active { background-color:#bc0000;}

/**发票**/
.order-invoice{ background-color:#fff; border:1px solid #ddd; padding:10px;}
.order-invoice-header{ font-size:14px; font-weight:bold;}
.order-invoice-header span.taxrate{ color:#da3e3e; font-size:12px; font-weight:normal; padding-left:10px;}
.order-invoice-section{ padding:5px 0px 0px 0px;}
.order-invoice-section span{ display:block;}
.order-invoice-section .invoice-type{ padding-right:15px;}
.order-invoice-section .invoice-title{ padding-right:15px;}
.order-invoice-section .invoice-title em{ color:#7c6a6a; font-style:normal; padding-left:5px;}
.order-invoice-section .invoice-content{}
.order-invoice-edit{ padding:5px 0px 0px 0px;}
.order-invoice-edit a,
.order-invoice-edit a:visited{ color:#3e65b3;}

.invoice-edit-html{ background-color:#fff; border:1px solid #ddd; border-top:1px dashed #ddd; margin-top:-2px; padding:12px 10px 10px 10px; }
.invoice-edit-html ul.selected-style{ height:30px;}
.invoice-edit-html ul.selected-style li{ float:left; margin:0px 10px 0px 0px;}
.invoice-edit-html ul.selected-style li span{ border:1px solid #eee; cursor:pointer; display:inline-block; height:24px; line-height:24px; padding:3px 20px;}
.invoice-edit-html ul.selected-style li.current{ }
.invoice-edit-html ul.selected-style li.current span{ background:url("../images/icon-selected.png") bottom right no-repeat; border:2px solid #c80000; padding:2px 19px;}
.invoice-edit-html ul.invoice-content-type{ padding:0px 0px 10px 0px;}
.invoice-edit-html dl{ padding:8px 0px 0px 0px;}
.invoice-edit-html dt{ padding:0px 0px 2px 0px;}
.invoice-edit-html dt i.important{ color:#c80000; font-style:normal;}
.invoice-edit-html dd{ padding-right:12px;}
.invoice-edit-html dd input.text{ padding:3px 5px; width:100%;}
.invoice-edit-html dd span{ display:block;}
.invoice-edit-footer{ padding:18px 0px 0px 0px;}

/**备注**/
.order-remark{ background:#fff; border-top:1px solid #ddd; border-top:0px; border-bottom:0px; padding:10px 15px;}
.order-remark-header{ color:#666; font-size:14px;}
.order-remark-header span.t-normal{ color:#aaa; font-size:12px;}
.order-remark-section{ padding:5px 15px 5px 0px;}
.order-remark-section input.text{ background:#fff; -webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0); -moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0); box-shadow:inset 0px 1px 1px rgba(0,0,0,0); border:1px solid #ccc; font-size:14px; padding:2px 8px; width:100%;}

/**优惠券**/
.order-coupon{ background-color:#fff; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:10px 15px;}
.order-coupon-header{ font-size:14px;}
.order-coupon-section{ padding:10px 0px 5px 0px;}
.order-coupon-remarks{ color:#888;}
.order-coupon ul{ zoom:1; overflow:auto; }
.order-coupon ul li{ margin:0px 0px 10px 0px; padding:1px;}
.order-coupon ul li span{ background-color:#f6f6f6; border:1px dashed #aaa; cursor:pointer; display:block; font-size:14px; height:20px; line-height:20px; padding:12px 15px 15px 15px; position:relative;}
.order-coupon ul li span em{ color:#d30000; font-style:normal;}
.order-coupon ul li span b{ color:#d30000; font-size:18px; padding:0px 3px 0px 0px;}
.order-coupon ul li span i{ border-left:1px dashed #aaa; color:#888; display:inline-block; height:12px; line-height:12px; width:12px; font-size:12px; font-style:normal; padding:2px 8px 2px 8px; position:absolute; top:16px; right:4px;}
.order-coupon ul li span i.mix-1{ }
.order-coupon ul li span i.mix-0{ display:none;}
.order-coupon ul li.coupon-mix-0 span{}
.order-coupon ul li.coupon-mix-1 span{}
.order-coupon ul li.current{ padding:0px; }
.order-coupon ul li.current span{ background:url("../images/icon-selected.png") bottom right no-repeat; border:2px solid #c80000;}

/**选择交付(送货)方式**/
.ow-shipping{ background-color:#fff; border:1px solid #ddd; padding:10px;}
.ow-shipping dl.delivery{ border-bottom:1px dotted #ddd;}
.ow-shipping dl.delivery dt{ height:24px; line-height:24px; padding:5px 0px;}
.ow-shipping dl.delivery dt input{ vertical-align:middle; }
.ow-shipping dl.delivery dt span{ color:#222; display:inline-block; font-size:14px; font-weight:bold; vertical-align:top; padding:1px 0px 0px 0px;  }
.ow-shipping dl.delivery dd{ color:#888; padding:5px 0px 10px 18px;}

.ow-payment{ background-color:#fff; padding:10px 10px;}
.ow-payment .order-paytime-tip{ border-bottom:1px solid #eee; color:#666; padding:0px 0px 10px 0px;}
.ow-payment .order-paytime-tip b{ color:#eb2200; padding:0px 2px;}
.ow-payment dl.payment{ border-bottom:1px dotted #ddd; padding:5px 0px 0px 0px; zoom:1; overflow:auto;}
.ow-payment dl.payment dt{ line-height:24px; padding:5px 5px;}
.ow-payment dl.payment dt input{ vertical-align:middle; }
.ow-payment dl.payment dt span.payname{ color:#222; display:inline-block; font-size:16px; font-weight:bold; vertical-align:top; padding:1px 0px 0px 5px;  }
.ow-payment dl.payment dt span.deposit{ border-left:2px solid #ddd; font-size:14px; margin-left:10px; padding:0px 0px 0px 10px;}
.ow-payment dl.payment dt span.deposit .money{ color:#d60000; padding-left:3px;}
.ow-payment dl.payment dt span.deposit-tip{ color:#888; display:block; font-size:12px; padding:5px 0px 0px 20px;}
.ow-payment dl.payment dt span.deposit-tip a,
.ow-payment dl.payment dt span.deposit-tip a:visited{ color:#0063b6;}
.ow-payment dl.payment dt span.deposit-tip a:hover{ text-decoration:underline;}
.ow-payment dl.payment dd{ color:#888; padding:2px 0px 15px 30px;}
.ow-payment dl.payment dd p{ padding:0px 0px 0px 0px;}

/**订单提交成功**/
.order-finish-info{ background-color:#fff; padding:10px 20px;}
.order-finish-info .header{ border-bottom:1px dotted #ddd; font-size:18px; padding:10px 0px;}
.order-finish-info .section{ font-size:14px; line-height:200%; padding:10px 0px 20px 0px;}
.order-finish-info .section dl{}
.order-finish-info .section dl dt{ float:left; padding-right:5px;}
.order-finish-info .section dl dd{ font-weight:bold;}
.order-finish-info .section .order-desc{ padding-top:10px;}
.order-finish-info .footer{ border-top:1px dotted #e6e6e6; padding:15px 0px 50px 0px;}








